body
  width: 100%
  height: 100%
  background: $white
body.hidden
  overflow: hidden
#wrapper
  position: relative
  width: 100%
  height: 100%
main
  position: relative
  width: 100%
  height: 100%
  color: $black
  overflow: hidden
  #first-view
    position: relative
    width: 100vw
    height: 100vh
    min-height: 800px
  .first-view-bg
    position: relative
    width: 100%
    height: 100%
    svg
      position: fixed
      max-width: 500px
      top: 50%
      left: 50%
      transform: translate(-50.5%, -50.5%)
      opacity: 0
      animation: rect 1s ease-in 0s forwards
      &:nth-child(2) rect
        top: unset
        bottom: 0
        left: unset
        right: 0
        transform: translate(0%,50%)
  .section-wrap
    position: fixed
    width: 100%
    max-width: 350px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    overflow: visible
    svg
      width: 100%
      animation: DASH 4.4s ease-in 2s forwards
      stroke-dasharray: 2000
      stroke-dashoffset: 2000
      stroke-width: .5px
      stroke: $black
      fill: transparent
      overflow: visible
      path:nth-child(n+5):nth-child(-n+8) 
        stroke: $white
        fill: transparent
        animation: Dotted 2.4s ease-in 1.2s forwards
        stroke-dasharray: 1000
        stroke-dashoffset: 1000
.arrow
  position: absolute
  bottom: 20%
  left: 15%
  &:hover .border
    top: 0px
    background: $black
    transition: .4s
  &:hover .rect
    background: $black
    border: 1px solid $black
    transition: .3s
.border
  position: absolute
  top: -30px
  left: 0
  display: block
  height: 1px
  width: 60px
  background: $gray
  transform: rotate(90deg)
  transition: .3s
  animation: moveY 3s infinite alternate linear
.rect
  position: absolute
  top: 20px
  left: 20px
  display: block
  width: 20px
  height: 20px
  border: 1px solid $gray
  transform: rotate(45deg) 
  transition: .3s