body
  background: $white
  font-size: 12px
body.hidden
  overflow: hidden
#wrapper
  position: relative
  width: 100%
  height: 100%
main
  position: relative
  width: 100%
  height: 100%
  color: $black
  overflow: hidden
  #first-view
    position: relative
    width: 100vw
    height: 100vh
    min-height: 800px
  .section-wrap
    position: absolute
    // position: fixed
    width: 100%
    max-width: 350px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    overflow: visible
    @media screen and (max-width: 768px)
      max-width: 60%
    svg
      width: 100%
      animation: DASH 6s ease-in .4s forwards
      stroke-dasharray: 2000
      stroke-dashoffset: 2000
      stroke-width: .5px
      stroke: $black
      fill: transparent
      overflow: visible
      path:nth-child(n+5):nth-child(-n+8) 
        stroke: $black
        fill: transparent
        animation: Dotted 6s ease-in .4s forwards
        stroke-dasharray: 1000
        stroke-dashoffset: 1000
.arrow
  position: absolute
  bottom: 30%
  left: 15%
  &:hover .border
    top: 0px
    background: $black
    transition: .4s
  &:hover .rect
    background: $black
    border: 1px solid $black
    transition: .3s
.border
  position: absolute
  top: 0px
  left: -45px
  display: block
  height: 1px
  width: 150px
  background: $gray
  transform: rotate(90deg)
  transition: .3s
  animation: fadeIn 2s ease-in forwards
.rect
  position: absolute
  top: 65px
  left: 20px
  display: block
  width: 20px
  height: 20px
  border: 1px solid $gray
  transform: rotate(45deg) 
  transition: .3s
  animation: fadeIn 2s ease-in forwards