$white: #f2f2f2
$black: #393332
$gray: #B5B5B6

@keyframes Headerindex
  0%
    opacity: 0
    z-index: 0
  100%
    opacity: 1
    z-index: 999


@keyframes DASH
  0%
    stroke-dashoffset: 2000
  30%
    fill: transparent
    stroke-width: .5px
  50%
    fill: $black
    stroke-width: 0px
  100%
    fill: $black
    stroke-width: 0px
    stroke-dashoffset: 0

@keyframes rect
  0%
    opacity: 0
  100%
    opacity: 1
    
@keyframes Dotted
  0%
    stroke-dashoffset: 1000
    fill: transparent
    stroke-width: .5px
  30%
    fill: transparent
    stroke-width: .5px
  50%
    fill: $black
    stroke-width: .5px
  100%
    stroke-dashoffset: 0
    stroke-width: 0px
    fill: $black

@keyframes menuvisible
  0%
    display: none
    opacity: 0
  50%
    display: block
    opacity: 0
  100%
    display: block
    opacity: 1

@keyframes moveY
  0%
    top: -30px
  100%
    top: 0px


*
  box-sizing: border-box
  list-style-type: none
  -webkit-overflow-scrolling: touch
  
@font-face
  font-family: "bizon"
  src: url(../font/Bison-Bold.ttf)

body
  // font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif
  font-family: YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic','ＭＳ ゴシック','Helvetica Neue','Helvetica','Arial',sans-serif