@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

@-webkit-keyframes Headerindex {
  0% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    opacity: 1;
    z-index: 999;
  }
}

@keyframes Headerindex {
  0% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    opacity: 1;
    z-index: 999;
  }
}

@-webkit-keyframes DASH {
  0% {
    stroke-dashoffset: 2000;
  }
  30% {
    fill: transparent;
    stroke-width: .5px;
  }
  50% {
    fill: #393332;
    stroke-width: 0px;
  }
  100% {
    fill: #393332;
    stroke-width: 0px;
    stroke-dashoffset: 0;
  }
}

@keyframes DASH {
  0% {
    stroke-dashoffset: 2000;
  }
  30% {
    fill: transparent;
    stroke-width: .5px;
  }
  50% {
    fill: #393332;
    stroke-width: 0px;
  }
  100% {
    fill: #393332;
    stroke-width: 0px;
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes Dotted {
  0% {
    stroke-dashoffset: 1000;
    fill: transparent;
    stroke-width: .5px;
  }
  30% {
    fill: transparent;
    stroke-width: .5px;
  }
  50% {
    fill: #B5B5B6;
    stroke-width: .5px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 0px;
    fill: #B5B5B6;
  }
}

@keyframes Dotted {
  0% {
    stroke-dashoffset: 1000;
    fill: transparent;
    stroke-width: .5px;
  }
  30% {
    fill: transparent;
    stroke-width: .5px;
  }
  50% {
    fill: #B5B5B6;
    stroke-width: .5px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 0px;
    fill: #B5B5B6;
  }
}

@-webkit-keyframes menuvisible {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes menuvisible {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes moveY {
  0% {
    top: -30px;
  }
  100% {
    top: 0px;
  }
}

@keyframes moveY {
  0% {
    top: -30px;
  }
  100% {
    top: 0px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  -webkit-overflow-scrolling: touch;
}

@font-face {
  font-family: "bizon";
  src: url(../font/Bison-Bold.ttf);
}

body {
  font-family: YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic','ＭＳ ゴシック','Helvetica Neue','Helvetica','Arial',sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: none;
  width: 100%;
  max-width: 1160px;
  -webkit-animation: Headerindex 1s ease-in 0s forwards;
          animation: Headerindex 1s ease-in 0s forwards;
  opacity: 0;
}

header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 32.5px 0;
}

header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: .6s;
  transition: .6s;
}

header h1:hover {
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

header h1 img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

body {
  background: #f2f2f2;
  font-size: 12px;
}

body.hidden {
  overflow: hidden;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  color: #393332;
  overflow: hidden;
}

main #first-view {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 800px;
}

main .section-wrap {
  position: absolute;
  width: 100%;
  max-width: 350px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: visible;
}

@media screen and (max-width: 768px) {
  main .section-wrap {
    max-width: 60%;
  }
}

main .section-wrap svg {
  width: 100%;
  -webkit-animation: DASH 6s ease-in .4s forwards;
          animation: DASH 6s ease-in .4s forwards;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  stroke-width: .5px;
  stroke: #393332;
  fill: transparent;
  overflow: visible;
}

main .section-wrap svg path:nth-child(n+5):nth-child(-n+8) {
  stroke: #B5B5B6;
  fill: transparent;
  -webkit-animation: Dotted 6s ease-in .4s forwards;
          animation: Dotted 6s ease-in .4s forwards;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.arrow {
  position: absolute;
  bottom: 30%;
  left: 15%;
}

.arrow:hover .border {
  top: 0px;
  background: #393332;
  -webkit-transition: .4s;
  transition: .4s;
}

.arrow:hover .rect {
  background: #393332;
  border: 1px solid #393332;
  -webkit-transition: .3s;
  transition: .3s;
}

.border {
  position: absolute;
  top: 0px;
  left: -45px;
  display: block;
  height: 1px;
  width: 150px;
  background: #B5B5B6;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-animation: fadeIn 2s ease-in forwards;
          animation: fadeIn 2s ease-in forwards;
}

.rect {
  position: absolute;
  top: 65px;
  left: 20px;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #B5B5B6;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-animation: fadeIn 2s ease-in forwards;
          animation: fadeIn 2s ease-in forwards;
}

#gallery {
  position: relative;
  width: 100vw;
  height: auto;
}

#gallery section {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#gallery section .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  max-width: 800px;
  min-width: 600px;
  margin: -100px auto 0;
  padding: 100px 0 0 0;
}

@media screen and (max-width: 768px) {
  #gallery section .filter {
    max-width: inherit;
    min-width: inherit;
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  #gallery section .filter {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#gallery section .filter button {
  width: 120px;
  padding: 5px 0;
  color: #393332;
  background: rgba(255, 255, 255, 0);
  letter-spacing: .1em;
  font-size: 1em;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: .4s;
  transition: .4s;
}

@media screen and (max-width: 768px) {
  #gallery section .filter button {
    width: 20%;
    padding: 8px 0;
    font-size: .9em;
  }
}

@media screen and (max-width: 500px) {
  #gallery section .filter button {
    width: 20%;
    margin-bottom: 10px;
    font-size: .7em;
  }
}

#gallery section h2 {
  margin-bottom: 20px;
  font-size: 3em;
  font-family: "bizon";
  line-height: 1.6em;
  letter-spacing: .15em;
  text-align: center;
  color: #393332;
}

#gallery section .flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 1160px;
  height: auto;
  margin: 0 auto;
  padding: 50px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1180px) {
  #gallery section .flex-box {
    width: 750px;
  }
}

@media screen and (max-width: 768px) {
  #gallery section .flex-box {
    width: 450px;
  }
}

@media screen and (max-width: 450px) {
  #gallery section .flex-box {
    width: 310px;
  }
}

#gallery section .gallery-content {
  width: 290px;
  margin-bottom: 65px;
  text-align: center;
  -webkit-transition: .2s;
  transition: .2s;
}

@media screen and (max-width: 1180px) {
  #gallery section .gallery-content {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #gallery section .gallery-content {
    width: 45%;
  }
  #gallery section .gallery-content:nth-child(odd) {
    margin-right: 10%;
  }
}

@media screen and (max-width: 450px) {
  #gallery section .gallery-content {
    width: 100%;
    margin-bottom: 10px;
  }
  #gallery section .gallery-content:nth-child(odd) {
    margin-right: 0px;
  }
}

@media screen and (max-width: 768px) {
  #gallery section .gallery-content:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
  }
}

#gallery section .gallery-content a {
  display: block;
  width: 225px;
  height: 225px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-filter: grayscale(200%) contrast(1.1) brightness(0.95);
          filter: grayscale(200%) contrast(1.1) brightness(0.95);
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  #gallery section .gallery-content a {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  #gallery section .gallery-content a {
    width: 225px;
  }
}

#gallery section .gallery-content a:hover {
  -webkit-filter: grayscale(40%);
          filter: grayscale(40%);
  -webkit-transition: .3s;
  transition: .3s;
}

#gallery section .gallery-content a:hover > img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: .5s;
  transition: .5s;
}

#gallery section .gallery-content img {
  width: 225px;
  height: 100%;
  text-align: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  #gallery section .gallery-content img {
    width: 200px;
    heightgit: 200px;
  }
}

@media screen and (max-width: 450px) {
  #gallery section .gallery-content img {
    width: 180px;
    height: 180px;
  }
}

#gallery .bottom-hide {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: #f2f2f2;
  z-index: 100;
}

@media screen and (max-width: 450px) {
  #gallery .bottom-hide {
    display: none;
  }
}

#gallery-common {
  margin-top: 150px;
}

@media screen and (max-width: 768px) {
  #gallery-common {
    overflow: scroll;
    margin-top: 100px;
  }
}

#gallery-common .gallery-common-inner {
  width: 95%;
  max-width: 1160px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #gallery-common .gallery-common-inner {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  #gallery-common .gallery-common-inner {
    margin: 0 auto;
  }
}

#gallery-common .bread-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#gallery-common .bread-list li {
  color: #393332;
  letter-spacing: .1em;
}

@media screen and (max-width: 768px) {
  #gallery-common .bread-list li {
    font-size: .8em;
  }
}

#gallery-common .bread-list li:first-child::after {
  display: inline-block;
  content: ">";
  margin: 0 10px;
}

#gallery-common .bread-list li a {
  color: #a29795;
  -webkit-transition: .4s;
  transition: .4s;
}

#gallery-common .bread-list li a:hover {
  color: #d2cccb;
  -webkit-transition: .4s;
  transition: .4s;
}

#gallery-common h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2.6em;
  line-height: 1.6em;
  letter-spacing: .15em;
}

@media screen and (max-width: 768px) {
  #gallery-common h2 {
    font-size: 2em;
  }
}

#gallery-common .gallery-common-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #gallery-common .gallery-common-top {
    display: block;
  }
}

#gallery-common .gallery-common-top .main-img {
  width: 60%;
}

@media screen and (max-width: 1100px) {
  #gallery-common .gallery-common-top .main-img {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #gallery-common .gallery-common-top .main-img {
    width: 100%;
  }
}

#gallery-common .gallery-common-top .main-img img {
  width: 100%;
}

#gallery-common .gallery-common-top .main-img-tate {
  width: 30%;
}

@media screen and (max-width: 1100px) {
  #gallery-common .gallery-common-top .main-img-tate {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  #gallery-common .gallery-common-top .main-img-tate {
    width: 100%;
  }
}

#gallery-common .gallery-common-top .main-img-tate img {
  width: 100%;
}

#gallery-common .gallery-common-top .gallery-img-caption,
#gallery-common .gallery-common-top .gallery-img-caption-tate {
  width: 37%;
  letter-spacing: .05em;
}

@media screen and (max-width: 1100px) {
  #gallery-common .gallery-common-top .gallery-img-caption,
  #gallery-common .gallery-common-top .gallery-img-caption-tate {
    width: 47%;
  }
}

@media screen and (max-width: 768px) {
  #gallery-common .gallery-common-top .gallery-img-caption,
  #gallery-common .gallery-common-top .gallery-img-caption-tate {
    width: 100%;
    margin-top: 30px;
  }
}

#gallery-common .gallery-common-top .gallery-img-caption h3,
#gallery-common .gallery-common-top .gallery-img-caption-tate h3 {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1.8em;
}

@media screen and (max-width: 768px) {
  #gallery-common .gallery-common-top .gallery-img-caption h3,
  #gallery-common .gallery-common-top .gallery-img-caption-tate h3 {
    font-size: 1.4em;
  }
}

#gallery-common .gallery-common-top .gallery-img-caption h3 a,
#gallery-common .gallery-common-top .gallery-img-caption-tate h3 a {
  color: #393332;
  text-decoration: none;
}

#gallery-common .gallery-common-top .gallery-img-caption h3 a::after,
#gallery-common .gallery-common-top .gallery-img-caption-tate h3 a::after {
  content: "ページを開く";
  display: block;
  padding: 5px 5px 3px 5px;
  background: #B5B5B6;
  color: #f2f2f2;
  font-size: .6em;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .2s;
  transition: .2s;
}

#gallery-common .gallery-common-top .gallery-img-caption h3 a:hover::after,
#gallery-common .gallery-common-top .gallery-img-caption-tate h3 a:hover::after {
  background: #393332;
  -webkit-transition: .2s;
  transition: .2s;
}

#gallery-common .gallery-common-top .gallery-img-caption ul,
#gallery-common .gallery-common-top .gallery-img-caption-tate ul {
  margin-top: 10px;
}

#gallery-common .gallery-common-top .gallery-img-caption ul li,
#gallery-common .gallery-common-top .gallery-img-caption-tate ul li {
  margin-top: 10px;
  font-size: 1.1em;
}

@media screen and (max-width: 768px) {
  #gallery-common .gallery-common-top .gallery-img-caption ul li,
  #gallery-common .gallery-common-top .gallery-img-caption-tate ul li {
    font-size: .9em;
  }
}

#gallery-common .gallery-common-top .gallery-img-caption ul a,
#gallery-common .gallery-common-top .gallery-img-caption-tate ul a {
  color: #393332;
  text-decoration: none;
}

#gallery-common .gallery-common-top .gallery-img-caption ul span,
#gallery-common .gallery-common-top .gallery-img-caption-tate ul span {
  display: inline-block;
  margin-right: 15px;
  padding: 10px 0 10px 8px;
  font-weight: bold;
  border-radius: 5px;
}

#gallery-common .gallery-common-top .gallery-img-caption ul img,
#gallery-common .gallery-common-top .gallery-img-caption-tate ul img {
  width: 40px;
  vertical-align: middle;
}

@media screen and (max-width: 450px) {
  #gallery-common .gallery-common-top .gallery-img-caption ul img,
  #gallery-common .gallery-common-top .gallery-img-caption-tate ul img {
    width: 40px;
  }
}

@media screen and (max-width: 768px) {
  #gallery-common .gallery-common-top .gallery-img-caption .gallery-description,
  #gallery-common .gallery-common-top .gallery-img-caption-tate .gallery-description {
    padding: 0 0 50px 0;
  }
}

#gallery-common .gallery-common-top .gallery-img-caption .gallery-description h3,
#gallery-common .gallery-common-top .gallery-img-caption-tate .gallery-description h3 {
  margin-top: 30px;
}

#gallery-common .gallery-common-top .gallery-img-caption .gallery-description p,
#gallery-common .gallery-common-top .gallery-img-caption-tate .gallery-description p {
  margin-top: 5px;
  font-size: .95em;
  letter-spacing: .05em;
  line-height: 1.5em;
  text-align: justify;
  word-break: keep-all;
  white-space: wrap;
  word-break: break-all;
}

@media screen and (max-width: 768px) {
  #gallery-common .gallery-common-top .gallery-img-caption .gallery-description p,
  #gallery-common .gallery-common-top .gallery-img-caption-tate .gallery-description p {
    font-size: .8em;
  }
}

#gallery-common .gallery-common-top .gallery-img-caption-tate {
  width: 67%;
}

@media screen and (max-width: 1100px) {
  #gallery-common .gallery-common-top .gallery-img-caption-tate {
    width: 67%;
  }
}

@media screen and (max-width: 768px) {
  #gallery-common .gallery-common-top .gallery-img-caption-tate {
    width: 100%;
  }
}

#photo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  z-index: 1002;
}

@media screen and (max-width: 450px) {
  #photo {
    left: 50%;
  }
}

#photo img {
  height: auto;
  max-width: 70vw;
  max-height: 80vh;
}

@media screen and (max-width: 768px) {
  #photo img {
    max-height: inherit;
    max-width: 80vw;
  }
}

#bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(57, 51, 50, 0.8);
  z-index: 1001;
  cursor: pointer;
}

#profile {
  width: 1080px;
  margin: 100px auto;
}

@media screen and (max-width: 1100px) {
  #profile {
    width: 90%;
  }
}

#profile .profile-img {
  position: relative;
  width: 250px;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  #profile .profile-img {
    width: 200px;
  }
}

#profile .profile-img img {
  width: 100%;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  -webkit-filter: grayscale(100%) contrast(0.8) brightness(1);
          filter: grayscale(100%) contrast(0.8) brightness(1);
}

#profile .profile-img .school {
  position: absolute;
  top: -.45em;
  left: -1.85em;
  color: #B5B5B6;
  font-size: 3.8em;
  font-weight: bold;
  line-height: .4em;
  letter-spacing: .1em;
  white-space: nowrap;
  font-family: "bizon";
}

@media screen and (max-width: 500px) {
  #profile .profile-img .school {
    font-size: 2.8em;
    left: -1em;
    top: -1em;
  }
}

#profile .profile-img .schoolname {
  margin: 0 0 0 -1em;
  font-size: 14px;
  font-weight: bold;
}

#profile .profile-img .name {
  position: absolute;
  top: 3em;
  right: -2.7em;
  color: #393332;
  font-size: 3.4em;
  font-weight: bold;
  line-height: .4em;
  letter-spacing: .1em;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 2;
  font-family: "bizon";
}

@media screen and (max-width: 500px) {
  #profile .profile-img .name {
    font-size: 2.4em;
  }
}

#profile .skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
  margin: 50px auto;
}

#profile .skills ul img {
  width: 60px;
}

#profile .profile-description ul {
  width: 250px;
  margin: 20px auto 0;
}

#profile .profile-description ul li {
  margin-bottom: 10px;
}

#profile .profile-description ul li a {
  color: #393332;
  text-decoration-skip-ink: none;
}

#profile .profile-description ul li a:hover {
  color: #B5B5B6;
}

#profile .profile-description ul li:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 500px) {
  #profile .profile-description ul {
    width: 200px;
    font-size: .9em;
  }
}

footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media screen and (max-width: 450px) {
  footer {
    left: 50%;
  }
}

footer p {
  margin-top: 40px;
  color: #B5B5B6;
  text-align: center;
  font-size: 1em;
  letter-spacing: .2em;
}

@media screen and (max-width: 450px) {
  footer p {
    font-size: .8em;
  }
}
/*# sourceMappingURL=index.css.map */