doctype html
html(lang="ja")

  include ./pug/head

  body
    #wrapper
      include ./pug/header
      main
        #first-view
          .first-view-bg
            //- svg(id="レイヤー_2" data-name="レイヤー 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
            //-   rect(x="1" y="1" width="100%" height="50px" fill="#393332")
            //- svg(id="レイヤー_2" data-name="レイヤー 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
            //-   rect(x="1" y="1" width="100%" height="50px" fill="#393332")
            //- svg(id="レイヤー_2" data-name="レイヤー 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
            //-   rect(x="1" y="1" width="15px" height="15px" fill="transparent" stroke="#393332" stroke-width=".05")
            //- svg(id="レイヤー_2" data-name="レイヤー 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
            //-   rect(x="1" y="1" width="6px" height="6px" fill="transparent" stroke="#393332" stroke-width=".05")
            //- svg(id="レイヤー_2" data-name="レイヤー 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
            //-   rect(x="1" y="1" width="4px" height="4px" fill="transparent" stroke="#B5B5B6" stroke-width=".05")
            a(href="#gallery")
              .arrow
                span.border
                span.rect
          section.section-wrap
            include ./svg/title.svg
        #gallery
          section
            .filter
              button(value="all") ALL
              button(value="dtp") DTP
              button(value="graphic") GRAPHIC
              button(value="web") WEB
            .flex-box
                .gallery-content.dtp
                  a(href="./gallery/DTP1.html")
                    img(src="./images/DTP1.png", alt="")
                .gallery-content.graphic
                  a(href="./gallery/dvd-poster.html")
                    img(src="./images/DVD-Poster.jpg", alt="")
                .gallery-content.graphic
                  a(href="./gallery/dvd.html")
                    img(src="./images/DVD.png", alt="")
                .gallery-content.web
                  a(href="./gallery/gakublo.html")
                    img(src="./images/gakublo.png", alt="")
                .gallery-content.graphic
                  a(href="./gallery/mondrian.html")
                    img(src="./images/mondrian.png", alt="")
                .gallery-content.web
                  a(href="../kadai07/index.html")
                    img(src="./images/web-bragi.png", alt="")
                .gallery-content.dtp
                  a(href="./gallery/DTP2.html")
                    img(src="./images/DTP2.png", alt="")
                .gallery-content.graphic
                  a(href="./gallery/portrait.html")
                    img(src="./images/portrait.png", alt="")
                .gallery-content.web
                  a(href="../kadai09/html/index.html")
                    img(src="./images/web-oneokrock.png", alt="")
                .gallery-content.graphic
                  a(href="./gallery/culogo.html")
                    img(src="./images/CU_logo.jpg", alt="")
                .gallery-content.web
                  a(href="../kadai07_2/index.html")
                    img(src="./images/web-fiat.png", alt="")
                .gallery-content.graphic
                  a(href="./gallery/niigata-logo.html")
                    img(src="./images/niigata_logo.png", alt="")
                .gallery-content.web
                  a(href="../kadai05/index.html")
                    img(src="./images/web-nikoand.png", alt="")
                .gallery-content.web
                  a(href="../nipponsakaba/index.html")
                    img(src="./images/web-nipponsakaba.png", alt="")
        #profile
          .profile-img
            p.school GRAPHIC DESIGN
              br
              |
              span.schoolname HAL TOKYO
            img(src="./images/profile-img.jpg", alt="")
            p.name FUNATSU RIKI
          .skills
            ul
              //- li: img(src="./images/illustrator.png", alt="")
              //- li: img(src="./images/indesign.png", alt="")
              //- li: img(src="./images/photoshop.png", alt="")
              //- li: img(src="./images/xd.png", alt="")
              //- li: img(src="./images/dreamweavar.png", alt="")
              //- li: img(src="./images/lightroom.png", alt="")
          
          
      footer
        p &copy; 2019 Riki F.
    script(src="./js/jquery-3.2.1.min.js")
    script(src="./js/main.js")