doctype html
html(lang="ja")

  include ./pug/head

  body
    #wrapper
      include ./pug/header
      main
        #first-view
          .first-view-bg
            a(href="#gallery")
              .arrow
                span.border
                span.rect
          section.section-wrap
            include ./svg/title.svg
        #gallery
          section
            .filter
              button(value="all") ALL
              button(value="dtp") DTP
              button(value="graphic") GRAPHIC
              button(value="web") WEB
            .flex-box
              include ./pug/gallery_import
        #profile
          .profile-img
            p.school GRAPHIC DESIGN
              br
              |
              span.schoolname HAL TOKYO
            img(src="./images/profile-img.jpg", alt="")
            p.name FUNATSU RIKI
          
      footer
        p &copy; 2019 Riki F.
    script(src="./js/jquery-3.2.1.min.js")
    script(src="./js/main.js")