header
  .flex-box
    .humberger
      ul
        li.humberger-border
        li.humberger-border
    h1 日本酒場
    .access
      i.fas.fa-map-marker-alt
  nav
    ul
      li トップ
      li 日本酒メニュー
      li 食事メニュー
      li アクセス