main
  #firstview
    .flex-box
      .left-box
      .right-box
    .page-arrow
      i.fas.fa-arrow-down
  article
    .top-content
      .top-content-wrap
        section
          h2 日本酒場で。
          p 暖簾をくぐれば、数百種類の酒がある。
            br
            | 昔ながらの暖かさある酒屋と、労働者の為の酒場が合わさった
            br
            | 未来の大衆酒場がここに。
            br
            | 升をテーマとし気を基調とした内装と、
            br
            | 未来を感じさせるシンプルかつフラットデザイン、
            br
            | 間接照明で空間を演出した。
            br
            | 癒しのひとときの、未来を創る。
        section.news-content
          h2 お客様へ。
          ul
            li 19/02/07　旬な日本酒が入荷しました！
            li 19/02/04　台風の影響にる営業時間の変更のお知らせ
            li 19/02/02　定休日のお知らせ
            li 19/02/01　ホームページを公開しました。
    .menu-content
      section
        h2.title メニュー
        a(href="#")
          .menu-box
            p.caption-alcohol 厳選された
              br
              | 日本酒の数々
            p.more お飲み物
        a(href="#")
          .alcohol-box
            p.caption-food 日本酒に合った
              br
              | 選ばれたメニュー
            p.more お食事
    .access-content
      section
        h2.title アクセス
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.4047838747083!2d139.6947481152592!3d35.69165538019188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cd6981dce11%3A0xee411b3fa3fc9f13!2zSEFM5p2x5Lqs!5e0!3m2!1sja!2sjp!4v1549553165630" width="600" height="200" frameborder="0" style="border:0" allowfullscreen)
        p 〒100-0001 東京都新宿区 西新宿1丁目1−1 001
          br
          | 10 : 00 〜 20 : 00
          br
          a(href="00-01010-1010") 00-01010-1010