header
  .header-inner
    h1
      img(src="../images/S__25731120.jpg", alt="")
      p FUNATSU RIKI
    nav
      ul.humberger
        li.humberger-border
        li.humberger-border
  .menu-box
    ul.menu
      li: a(href="./index.html") GO HOME
      li: a(href="./gallery.html") GALLERY
      li: a(href="./profile.html") MY PROFILE