-  
  var list = [
    {
    class: "dtp",
    href: "DTP1.html",
    img : "DTP1.png"
    },
    {
    class: "graphic",
    href: "dvd-poster.html",
    img : "DVD-Poster.jpg"
    },
    {
    class: "graphic",
    href: "dvd.html",
    img : "DVD.png"
    },
    {
    class: "web",
    href: "gakublo.html",
    img : "gakublo.png"
    },
    {
    class: "graphic",
    href: "mondrian.html",
    img : "mondrian.png"
    },
    {
    class: "web",
    href: "bragi.html",
    img : "web-bragi.png"
    },
    {
    class: "dtp",
    href: "DTP2.html",
    img : "DTP2.png"
    },
    {
    class: "web",
    href: "oneokrock.html",
    img : "web-oneokrock.png"
    },
    {
    class: "web",
    href: "fiat.html",
    img : "web-fiat.png"
    },
    {
    class: "graphic",
    href: "niigata-logo.html",
    img : "niigata_logo.png"
    },
    {
    class: "web",
    href: "nikoand.html",
    img : "web-nikoand.png"
    },
    {
    class: "web",
    href: "nippon-sakaba.html",
    img : "web-nipponsakaba.png"
    },
    {
    class: "web",
    href: "interview.html",
    img : "interview.png"
    }
  ]
each item, index in list
  div(class='gallery-content '+ item['class'])
    a(href= './gallery/' +item['href'])
      img(src='./images/' + item['img'], alt="")