header
  .header-inner
    h1
      a(href="#wrapper")
        img(src="./images/S__25731120.jpg", alt="")
    nav
      ul.humberger
        li.humberger-border
        li.humberger-border
  .menu-box
    ul.menu
      li: a(href="./index.html") GO HOME
      li: a(href="./profile.html") MY PROFILE